/*============================================
        common css part start here
==============================================*/
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.clr {
  clear: both;
}

.container {
  max-width: 1220px;
}

/*============================================
        common css part ends here
==============================================*/
/*============================================
        all typography css part start here
==============================================*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

/*============================================
        all typography css part ends here
==============================================*/
/*============================================
        navbar css part start here
==============================================*/
#navbar_part {
  width: 100%;
  margin-top: 50px;
}
#navbar_part .nav_body .container {
  margin: 0 auto;
  background: #F85559;
  height: 100px;
  border-radius: 80px;
}
#navbar_part .nav_body .container ul li {
  padding-left: 20px;
}
#navbar_part .nav_body .container ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}
#navbar_part .nav_body .container a {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
#navbar_part .nav_body .container a img {
  padding-right: 15px;
}
#navbar_part .nav_body .container form input {
  border-radius: 20px;
  border: none;
  color: rgba(18, 18, 18, 0.103);
  font-size: 16px;
}
#navbar_part .nav_body .container form button {
  background: #fff;
  border-radius: 50%;
  border-color: #fff;
  margin-left: -40px;
}
#navbar_part .nav_body .container form button i {
  color: #121212;
}

/*============================================
        navbar css part ends here
==============================================*/
/*============================================
        banner css part start here
==============================================*/
#banner_part {
  width: 100%;
  margin: 50px 0;
}
#banner_part .banner_body .banner_main {
  position: relative;
  border-radius: 10px;
}
#banner_part .banner_body .banner_main .banner_overlay {
  border-radius: 10px;
  position: absolute;
  background-image: url(../images/Rectangle-5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#banner_part .banner_body .banner_main .banner_overlay .overlay_text {
  text-align: center;
  padding-top: 80px;
}
#banner_part .banner_body .banner_main .banner_overlay .overlay_text h1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding-bottom: 20px;
}
#banner_part .banner_body .banner_main .banner_overlay .overlay_text p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  padding-bottom: 20px;
}
#banner_part .banner_body .banner_main .banner_overlay .overlay_text .ban_btn a {
  background: #F85559;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #F85559;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
#banner_part .banner_body .banner_main .banner_overlay .overlay_text .ban_btn a:hover {
  background: transparent;
}
#banner_part .banner_body .banner_main .ban_popup {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  height: 200px;
  width: 90%;
}
#banner_part .banner_body .banner_main .ban_popup .popup_body {
  text-align: center;
  padding-top: 20px;
}
#banner_part .banner_body .banner_main .ban_popup .popup_body ul li {
  display: inline-block;
}
#banner_part .banner_body .banner_main .ban_popup .popup_body ul li a {
  padding: 0 25px;
  text-decoration: none;
  color: rgba(18, 18, 18, 0.7450980392);
  font-size: 20px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
#banner_part .banner_body .banner_main .ban_popup .popup_body ul li .fruits_name a {
  padding-top: 10px;
}

/*============================================
        banner css part ends here
==============================================*/
/*============================================
        deal css part start here
==============================================*/
#deal_part {
  width: 100%;
  margin-top: 250px;
  margin-bottom: 50px;
}
#deal_part .deal_body .deal_main .deal_head {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#deal_part .deal_body .deal_main .deal_head .head_text h3 {
  font-size: 38px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  color: #121212;
}
#deal_part .deal_body .deal_main .deal_head .head_text p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  width: 600px;
  line-height: 1.5rem;
  color: rgba(18, 18, 18, 0.6705882353);
}
#deal_part .deal_body .deal_main .deal_card {
  margin-top: 40px;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row {
  display: flex;
  justify-content: space-between;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column {
  width: 24%;
  border-radius: 10px;
  border: 1px solid rgba(18, 18, 18, 0.1568627451);
  padding: 20px 40px;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main {
  padding: 25px 0;
  text-align: center;
  width: 100%;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .model {
  width: 100%;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .model img {
  width: 50%;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .model .card1 {
  width: 41%;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .price {
  padding: 20px 0;
  border-bottom: 1px solid rgba(18, 18, 18, 0.1568627451);
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .price h4 {
  font-size: 20px;
  font-weight: 700;
  color: #121212;
  font-family: "Lato", sans-serif;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .name {
  padding-top: 15px;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .name p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(18, 18, 18, 0.431372549);
  font-family: "Lato", sans-serif;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .ratings {
  padding-top: 10px;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .ratings img {
  width: 120px;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .details {
  padding-top: 15px;
}
#deal_part .deal_body .deal_main .deal_card .card_body .row .column .card_main .details a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #F85559;
}
#deal_part .deal_body .deal_main .deal_btn {
  text-align: center;
  margin-top: 50px;
}
#deal_part .deal_body .deal_main .deal_btn a {
  background: #F85559;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #F85559;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
#deal_part .deal_body .deal_main .deal_btn a:hover {
  color: #F85559;
  background: transparent;
}

/*============================================
        deal css part ends here
==============================================*/
/*============================================
        team css part start here
==============================================*/
#team_part {
  width: 100%;
  margin: 50px 0;
}
#team_part .team_body .team_main {
  background-image: url(../images/team.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
}
#team_part .team_body .team_main .team_overlay {
  position: absolute;
  background-image: url(../images/Rectangle-5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#team_part .team_body .team_main .team_overlay .team_text {
  text-align: center;
  padding-top: 80px;
}
#team_part .team_body .team_main .team_overlay .team_text h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
#team_part .team_body .team_main .team_overlay .team_text p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
#team_part .team_body .team_main .team_overlay .team_card {
  padding-top: 15px;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row {
  display: flex;
  justify-content: space-between;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column {
  width: 25%;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main {
  padding: 25px 0;
  text-align: center;
  width: 100%;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .model {
  width: 100%;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .model img {
  width: 50%;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .model .card1 {
  width: 41%;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .price {
  padding-top: 15px;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .price h4 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family: "Lato", sans-serif;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .name {
  padding-top: 5px;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .name p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: "Lato", sans-serif;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .details ul {
  padding-left: 0;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .details ul li {
  display: inline-block;
}
#team_part .team_body .team_main .team_overlay .team_card .card_body .row .column .card_main .details ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 2px 8px;
  background: #F85559;
  border: 1px solid #F85559;
  border-radius: 100%;
  margin: 0 5px;
}

/*============================================
        team css part ends here
==============================================*//*# sourceMappingURL=style.css.map */