/*============================================
        banner css part start here
==============================================*/
#banner_part{
    width: 100%;
    margin: 50px 0;
    .banner_body{
        .banner_main{
                position: relative;
                border-radius: 10px;
                .banner_overlay{
                        border-radius: 10px;
                        position: absolute;
                        background-image: url(../images/Rectangle-5.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        .overlay_text{
                                text-align: center;
                                padding-top: 80px;
                                h1{
                                        font-size: 72px;
                                        font-weight: 700;
                                        text-transform: capitalize;
                                        font-family: 'Lato', sans-serif;
                                        color: #fff;
                                        padding-bottom: 20px;
                                }
                                p{
                                        font-size: 18px;
                                        font-weight: 300;
                                        font-family: 'Lato', sans-serif;
                                        color: #FFFFFF;
                                        padding-bottom: 20px;
                                }
                                .ban_btn{
                                        a{
                                                background: #F85559;
                                                color: #fff;
                                                text-decoration: none;
                                                padding: 15px 20px;
                                                border-radius: 10px;
                                                border: 1px solid #F85559;
                                                font-size: 20px;
                                                font-weight: 500;
                                                font-family: 'Lato', sans-serif;
                                                &:hover{
                                                        background: transparent;

                                                }
                                        }
                                }
                        }
                }
                .ban_popup{
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #fff;
                        border-radius: 10px;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                        height: 200px;
                        width: 90%;
                        .popup_body{
                                text-align: center;
                                padding-top: 20px;
                                ul{
                                        li{
                                                display: inline-block;
                                                a{
                                                        padding: 0 25px;
                                                        text-decoration: none;
                                                        color: #121212be;
                                                        font-size: 20px;
                                                        font-weight: 300;
                                                        font-family: 'Lato', sans-serif;
                                                }
                                                .fruits_name{
                                                        a{
                                                                padding-top: 10px;
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
    }
}
/*============================================
        banner css part ends here
==============================================*/