/*============================================
        footer css part start here
==============================================*/
#footer_part{
    width: 100%;
    background: #000;
    margin-top: 100px;
    .footer_body{
        .footer_main{
            padding: 100px 0;
            text-align: center;
            .footer_head{
                a{
                    font-size: 40px;
                    font-weight: 700;
                    color: #fff;
                    img{
                        padding-right: 15px;
                    }
                }
            }
            .footer_item{
                padding-top: 20px;
                ul{
                    li{
                        display: inline-block;
                        a{
                            text-decoration: none;
                            color: #fff;
                            font-size: 18px;
                            font-weight: 400;
                            font-family: 'Lato', sans-serif;
                            padding: 15px 20px;
                        }
                    }
                }
            }
            .foot_icon{
                ul{
                    li{
                        a{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
/*============================================
        footer css part ends here
==============================================*/