/*============================================
        navbar css part start here
==============================================*/
#navbar_part{
    width: 100%;
    margin-top: 50px;
    .nav_body{
        .container{
            margin: 0 auto;
            background: #F85559;
            height: 100px;
            border-radius: 80px;
            ul{
                li{
                    padding-left: 20px;
                    a{
                        font-size: 18px;
                        font-weight: 400;
                        color: #fff;
                        font-family: 'Lato', sans-serif;
                        text-transform: capitalize;
                    }
                }
            }
            a{
                font-size: 40px;
                font-weight: 700;
                color: #fff;
                img{
                    padding-right: 15px;
                }
            }
            form{
                input{
                    border-radius: 20px;
                    border:  none;
                    color: rgba(18, 18, 18, 0.103);
                    font-size: 16px;
                }
                button{
                    background:  #fff;
                    border-radius: 50%;
                    border-color: #fff;
                    margin-left: -40px;
                    i{
                        color: #121212;
                    }
                }
            }
        }
    }
}
/*============================================
        navbar css part ends here
==============================================*/